@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
} 
#inicio{
    height: 100vh;
    width: 100%;
    background: linear-gradient(50deg,#286090,#3c763d);
    background-size: cover;
    display: table;
    background-attachment: fixed;
}

/* CSS DO VIDEO */
.background-wrap {
    position: relative;
    z-index: 1;
    width: 142%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0px;
}

#video-bg-elem {
    position: relative;
    top: 0;
    left: -364px;
    min-height: 100%;
    min-width: 100%;
}
.content {
    position: absolute;
    width: 100%;
    min-height: 169%;
    z-index: 1000;
    background-color: rgba(0,0,0,0.7);
    top: 0vh;
}
.content h1 {
    padding-left: 12vh;
    text-align: center;
    font-size: 65px;
    text-transform: uppercase;
    font-weight: 300;
    background: -webkit-linear-gradient(#0f7d08, #fce360);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 15%;
    margin-bottom: 10px;
}
.content p {
    text-align: center;
    font-size: 20px;
    letter-spacing: 3px;
    background: -webkit-linear-gradient(#0f7d08, #fce360);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/*FIM DO CSS DO VIDEO*/

.btn-custom {
    
    padding: 1px 15px 3px 2px;
    border-radius: 50px;
}

.btn-icon{
    padding: 8px;
    background: #ffffff;
}

/* Checkbox Hack */
#toggle-1 {
    display:none;
 }
 
 label { 
   -webkit-appearance: push-button;
   -moz-appearance: button; 
   display: inline-block;
   cursor: pointer;
   padding: 5px;
   color: #F7CA18;
   background: url(imagens/play-button.svg)
 }
 
 /* CSS padrão da div */
 .botoes {
    display:none;
 }
 
/* CSS quando o checkbox está marcado */
#toggle-1:checked ~ .botoes {
    display:block;
 }

/* Botão Começar */
a.animated-button:link, a.animated-button:visited {
	position: relative;
	display: block;
	margin: 30px auto 0;
	padding: 14px 15px;
	color: #fff;
	font-size:14px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em;
	border-radius: 0;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
a.animated-button:link:after, a.animated-button:visited:after {
	content: "";
	position: absolute;
	height: 0%;
	left: 50%;
	top: 50%;
	width: 150%;
	z-index: -1;
	-webkit-transition: all 0.75s ease 0s;
	-moz-transition: all 0.75s ease 0s;
	-o-transition: all 0.75s ease 0s;
	transition: all 0.75s ease 0s;
}
a.animated-button:link:hover, a.animated-button:visited:hover {
	color: #FFF;
	text-shadow: none;
}
a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
	height: 450%;
}
a.animated-button:link, a.animated-button:visited {
	position: relative;
	display: block;
	margin: 30px auto 0;
	padding: 14px 15px;
	color: #fff;
	font-size:14px;
	border-radius: 0;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

a.animated-button.thar-three {
    width: 17%;
    color: #fff;
    cursor: pointer;
    display: block;
    position: relative;
    bottom: 706px;
    border: 2px solid #F7CA18;
    z-index: 10001;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0s;
}
a.animated-button.thar-three:hover {
	color: #000 !important;
	background-color: transparent;
	text-shadow: nthree;
}
a.animated-button.thar-three:hover:before {
	left: 0%;
	right: auto;
	width: 100%;
}
a.animated-button.thar-three:before {
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
	width: 0px;
	z-index: -1;
	content: '';
	color: #000 !important;
	background: #F7CA18;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1)0s;
}

/* Final do Botão Começar */
/* Box transparente */
div.transbox {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
    width: 507px;
    height: 300px;
    position: relative;
    top: 100px;
  }
  
  div.transbox p,h1 {
    margin: 5%;
    font-weight: bold;
    color: #000000;
  }
  /* Final do box transparente */
/* Jogadores */
#box1{
    height: 100vh;
    width: 100%;
    background-image: url(imagens/pele.jpg);
    background-size: cover;
    display: table;
    background-attachment: fixed;
}
#box2{
    height: 100vh;
    width: 100%;
    background-image: url(imagens/zico.jpg);
    background-size: cover;
    display: table;
    background-attachment: fixed;
}
#box3{
    height: 100vh;
    width: 100%;
    background-image: url(imagens/romario.jpg);
    background-size: cover;
    display: table;
    background-attachment: fixed;
    object-fit: cover;
}

#box4{
    height: 100vh;
    width: 100%;
    background-image: url(imagens/bebeto.jpg);
    background-size: cover;
    display: table;
    background-attachment: fixed;
    object-fit: cover;
}

#box10{
    height: 100vh!important;
    width: 100%;
    background-image: url(imagens/Rivaldo.jpg);
    background-size: cover;
    display: table;
    background-attachment: fixed;
    object-fit: cover;
}

#box6{
    height: 100vh;
    width: 100%;
    background-image: url(imagens/Ronaldo.jpg);
    background-size: cover;
    display: table;
    background-attachment: fixed;
    object-fit: cover;
}

#box7{
    height: 100vh;
    width: 100%;
    background-image: url(imagens/Ronaldinho-Gaúcho.jpg);
    background-size: cover;
    display: table;
    background-attachment: fixed;
    object-fit: cover;
}

#box8{
    height: 100vh;
    width: 100%;
    background-image: url(imagens/kaka.jpg);
    background-size: cover;
    display: table;
    background-attachment: fixed;
    object-fit: cover;
}

#box9{
    height: 100vh;
    width: 100%;
    background-image: url(imagens/neymar.jpg);
    background-size: cover;
    display: table;
    background-attachment: fixed;
    object-fit: cover;
}

h1{
    font-family: arial black;
    font-size: 50px;
    color:black;
    margin: 0px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.descricao {
    padding-top: 58vh;
    width: 59vh;
    font-size: 15px;
    color: #FFF;
    font-weight: bolder;
}

 /* Final dos jogadores */

footer{
    background-color: #333;
    height: 35px;
    color: #fff;
}

.rodape{
    margin-right: 4%;
    float: right;
    margin-top: 5px;
}

@media (max-width: 768px) {

    #video-bg-elem{
        display: none !important;
    }
  #inicio{
    background-image: url(imagens/Ronaldo.jpg)!important; 
  }

  .content{
    min-height: 100%;
  }

  .content h1 {
    font-size: 53px;
    padding-left: 44px;
    width: 1px;
}

.content p {
   font-size: 18px;
}

a.animated-button.thar-three {
    width: 40%;
    bottom: 400px;
}

#box1{
    background-position-x: -141px;
}

#box2{
    background-position-x: -507px;
}

#box3{
    background-position-x: -355px;
}

#box4{
    background-position-x: -230px;
}

#box5{
    background-position-x: -142px;
}

#box7{
    background-position-x: -42px;
}

#box8{
    background-position-x: -230px;
}

#box9{
    background-position-x: -290px;
}

h1{
    font-size: 30px; 
}

p {
    font-size: 10px;
}


div.transbox{
    width: 250px;
    height: 266px;
    position: relative;
    top: 165px;
}


  .rodape{
    padding-top: 5px;
    padding-right: 80px;
  }

  }